@charset "utf-8";

/* common
---------------------------------------------------------------------------*/
body{
  font-size: 14px;
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #fff;
}

p{
  line-height: 2;
}

a{
  text-decoration: none;
}

.eyecatch {
  background-image: url(../img/top_sp.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 20vh;
  margin-top: 20px;
}

/*.eyecatch p {*/
/*  color: white;*/
/*}*/

.container {
  width: 90%;
  margin: 0 auto;
}

section {
  padding: 50px 0;
}

section h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 20px;
  color: #FC9D9D;
}

section h2 {
  text-align: center;
  margin-bottom: 15px;
}

section h3 {
  text-align: center;
  font-size: 18px;
  line-height: 2;
}

section:nth-child(even) {
  background-color: #F8F8F8;
  font-size: 10px;
}

/* header
---------------------------------------------------------------------------*/
.header-mobile-menu {
  float: right;
  font-size: 20px;
  cursor: pointer;
  color: #FC9D9D;
}

.header-pc-menu {
  display: none;
}

.logo img {
  margin-right: auto;
}

.logout-menu {
  text-align: right;
}


/* features
---------------------------------------------------------------------------*/
.first_view_icons > li {
  list-style: none;
  margin: 0 10px 50px 0;
}

.first_view_icons {
  text-align:center;
}

.first_view_icons p {
  text-align:left;
  margin: 10px 5px;
}


/* how-to-use
---------------------------------------------------------------------------*/
.how-to-use iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.iframe-wrapper {
  padding-bottom: 56.25%;
  height: 0;
  position: relative;
}

/* footer
---------------------------------------------------------------------------*/
footer {
  text-align: center;
  color: #fff;
  padding: 60px 0;
  background-color: #FC9D9D;
}


/* medium
---------------------------------------------------------------------------*/
@media (min-width: 570px) {
  
  .eyecatch {
    background-image: url(../img/top.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 500px;
    margin-top: 20px;
  }

  .first_view_icons {
    display: flex;
    justify-content: center;
  }
  
  section h1 {
    font-size: 30px;
    margin-bottom: 50px;
  }
  
  section h2 {
    font-size: 18px;
  }
  
  section h3 {
    font-size: 20px;
  }
  
}

/* large
---------------------------------------------------------------------------*/
@media (min-width: 820px) {
  
  .container {
    width: 820px;
  }
  
  .header-mobile-menu {
    display: none !important;
  }
  
  .header-pc-menu {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
  }
  
  .header-pc-menu > li {
    display: inline-block;
    width: 80px;
    text-align: center;
    cursor: pointer;
  }
  
}