@charset "utf-8";

/* common
---------------------------------------------------------------------------*/
body{
  font-size: 14px;
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #fff;
}

p{
  line-height: 2;
}

a{
  text-decoration: none;
}

.container {
  width: 820px;
  margin: 0 auto;
}

section {
  padding: 50px 0;
}

section h1 {
  margin-bottom: 30px;
  font-size: 25px;
  color: #FC9D9D;
}

section:nth-child(even) {
  background-color: #F8F8F8;
  font-size: 10px;
}

/* header
---------------------------------------------------------------------------*/
header {
  height: 60px;
  background-color: #FC9D9D;
}

.main-nav {
  display: -webkit-flex;
  display: flex;
  align-items: flex-end;
}

.main-nav li {
  list-style:none;
}

.main-nav li:first-child {
  margin-right: auto;
}

.shop-title {
  font-size: 30px;
  color: #fff;
}

.logout-menu {
  font-size: 15px;
  color: #fff;
  margin: 15px 0 0 10px;
}

.fa {
  color: #fff;
  margin-top: 5px;
}


/* item_list
---------------------------------------------------------------------------*/
.cart-btn {
  text-align: right;
  margin-bottom: 30px;
}

.item span {
  font-size: 15px;
}

.item-list-img {
  width: 300px;
}

table {
  width: 100%;
}

table th,
table td {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  margin: 0 auto;
}

table th {
  text-align: left;
  font-size: 15px;
}


/* cart_list
---------------------------------------------------------------------------*/
span {
  font-size: 14px;
}

ul {
  list-style:none;
}

.cart_list-title table{
  border-top: 1px solid #ccc;
  border-collapse: collapse;
  width: 100%;
}

.cart-item-img {
  width: 180px;
}

.cart-item-price {
  color: #FF0000;
}

.buy-sum-price {
  font-size: 25px;
  color: #FF0000;
}

.buy-sum-box {
  margin-top: 20px;
  text-align: right;
}

.buy-btn {
  -webkit-appearance: none;
  border-radius: 0;
  display: block;
  margin-top: 60px;
  width: 100%;
  height: 60px;
  color: #ffffff;
  background-color: #FC9D9D;
  font-size: 16px;
  border: none;
}


/* footer
---------------------------------------------------------------------------*/
footer {
  text-align: center;
  color: black;
  padding: 60px 0;
  background-color: #fff;
}


/* medium
---------------------------------------------------------------------------*/
@media screen and (max-width: 800px) {
  
  .container {
    width: 90%;
  }

}

/* スマホ
---------------------------------------------------------------------------*/
@media screen and (max-width: 480px) {
  
  .container {
    width: 90%;
  }
  
  .item img {
    width: 100%;
    height: auto;
  }

  .shop-title {
    font-size: 20px;
　}
　
　.cart-item-img {
    width: 100%;
  }
  
  table td {
    display: block;
    text-align: center;
  }
  
  table th {
    display: none;
  }
  
  .cart-btn {
    border: none;
  }
  
  .item-list-name {
    text-align: left;
  }
  
  .item-list-price {
    text-align: right;
  }
  
  section {
    padding: 30px 0;
  }

  section h1 {
    font-size: 20px;
  }
  
  .form_select_amount {
    text-align: right;
  }
  
  .cart-item-del {
    text-align: right;
  }
　

}