@charset "utf-8";

/* common
---------------------------------------------------------------------------*/
body{
  font-size: 14px;
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #F8F8F8;
}

p{
  line-height: 2;
}

a{
  text-decoration: none;
}

.eyecatch {
  background-image: url(./img/top.jpeg);
  background-size: cover;
  background-position: 50% 50%;
  height: 500px;
  margin-top: 20px;
}

.eyecatch p {
  position: absolute;
  top: 20%;
  left: 40%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  font-size: 30px;
  color: white;
}

.container {
  width: 90%;
  margin: 0 auto;
}

section {
  padding: 50px 0;
}

section h1 {
  text-align: center;
  margin: 0 0 60px;
  font-size: 20px;
}

section h2 {
  text-align: center;
}

section:nth-child(even) {
  background-color: #fff;
}

/* header
---------------------------------------------------------------------------*/
.header-mobile-menu {
  float: right;
  font-size: 24px;
  cursor: pointer;
}

.header-pc-menu {
  display: none;
}

.logo img {
  margin-right: auto;
}

/* features
---------------------------------------------------------------------------*/
.first_view_icons {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.icon_item p {
  text-align: left;
}

/* how-to-use
---------------------------------------------------------------------------*/
.how-to-use iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.iframe-wrapper {
  padding-bottom: 56.25%;
  height: 0;
  position: relative;
}

/* footer
---------------------------------------------------------------------------*/
footer {
  text-align: center;
  color: #fff;
  padding: 60px 0;
  background-color: #FC9D9D;
}

/* medium
---------------------------------------------------------------------------*/
@media (min-width: 570px) {
  
  /*.eyecatch {*/
  /*  background-image: url(.img/top_sp.jpeg);*/
  /*  background-size: cover;*/
  /*  width: 100%;*/
  /*  height: auto;*/
  /*}*/
  
}

/* large
---------------------------------------------------------------------------*/
@media (min-width: 820px) {
  
  .container {
    width: 820px;
  }
  
  .header-mobile-menu {
    display: none;
  }
  
  .header-pc-menu {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
  }
  
  .header-pc-menu > li {
    display: inline-block;
    width: 60px;
    text-align: center;
    cursor: pointer;
  }
  
}